<div class="member_popUpBox hidden">
  <div class="choice_table">
sdfsdfs
  </div>
</div>


<script>
// 按下某位議員的相片，然後取得議員所有資料


// render 每一條 information


// 將每個 party 的資料放入 party_box 中
data_array.forEach(p=>{
  motionLine(p)
})
</script>
