<script id="entry-template" type="text/x-handlebars-template">

<div class="result_box">
  <div>{{motion_name}}</div>
  <div>{{note}}</div>
sdfsfs
  <div class="parties">
    {{parties}}
  </div>//pariteis
</div> // result_box

</script>
