<div id="tab2" class="hidden tab_content tab_container">
    <div class='detail_list_box'>
        <div class="picures_in_detail_list_box"></div>
              <!-- fsd -->
              <div class="individual">

                <div class="dropdown">
                  <button class="btn dropbtn">第五屆</button>
                  <div class="dropdown-content">
                    <!-- <a>第一屆</a>
                    <a>第二屆</a>
                    <a>第三屆</a>
                    <a>第四屆</a> -->
                    <a>第五屆</a>
                  </div>
                </div>

      <div class="dropdown2">
        <button class="btn dropbtn2">黨派</button>
        <div class="dropdown-content2">
          <a>民主黨</a>
          <a>民建聯</a>
          <a>公民黨</a>
          <a>工聯會</a>
          <a>自由黨</a>
          <a>經濟動力</a>
          <a>工黨</a>
          <a>人民力量</a>
          <a>社民連</a>
          <a>新民黨</a>
          <a>公共專業聯盟</a>
          <a>新論壇</a>
          <a>民協</a>
          <a>勞聯</a>
          <a>新同盟</a>
          <a>街工</a>
          <a>西九新動力</a>
          <a>經濟動力</a>
          <a>無黨籍</a>
        </div>
      </div>

      <div class="dropdown3">
        <button class="btn dropbtn3">議案類別</button>
        <div class="dropdown-content3">
          <a>勞工</a>
          <a>房屋</a>
          <a>教育</a>
          <a>醫療</a>
          <a>政制</a>
          <a>環境</a>
          <a>法治</a>
          <a>傳媒</a>
          <a>中產</a>
          <a>六四</a>
          <a>性小眾</a>
          <a>基建工程</a>
          <a>言論自由</a>
          <a>弱勢社群</a>
          <a>文化藝術</a>
        </div>
      </div>


              <div class="member_party"></div>
              <div class="flip3D">
                <div class="front">

                  <div class="member_name_shell">
                    <div class="member_name"></div>

                    <div class="member_detail"></div>
                  </div>
              </div>
              </div>
            </div>
  </div>
</div><!-- tab2 -->
