<div class="adv">
    <div class="title">
    更多互動專題：區議會及碼頭罷工
    </div>
    <a href="https://wknews.org/district_board_election/">
    <div class="image">
    <span class="img1">
    <img src="pictures/區選.gif"/>
    </a>
    </span>
    <span class="img2">
    <a href="https://wknews.org/unfinished-strike/">
    <img src="pictures/碼頭.jpg"/>
    </a>
    </span>

</div>
