<div class="question_part">
      <div class="q1 single" data-result="q1_result">
          <p>Q1. 你是哪一種選民？</p>
          <div id="student" class="box box_1"><img src="pictures/student.svg"><hr>學生</div>
          <div id="worker"  class="box box_1"><img src="pictures/overtime.gif"><hr>普通打工仔</div>
          <div id="middle_class" class="box box_1"><img src="pictures/middle_class.svg"><hr>中產人士</div>
          <div id="homemaker" class="box box_1"><img src="pictures/houseworker.gif"><hr>家庭照顧者</div>
          <div id="retired" class="box box_1"><img src="pictures/retire.gif"><hr>退休人士</div>
      </div>
      <hr>

      <div class="q2 single" data-result="q2_result">
          <p>Q2. 你關注甚麼行業的工作？</p>
          <div id="blue_collar" class="box box_2"><img src="pictures/blue_collar.svg"><hr>藍領</div><div id="white_collar" class="box box_2"><img src="pictures/white_collar.png"><hr>白領</div>
      </div>

      <hr>

      <div class="q3 single" data-result="q3_result">
        <p>Q3. 你的住屋狀況？</p>
        <div id="rent" class="box box_3 not_selected "><img src="pictures/rent.png"><hr>租住私樓</div><div id="public_housing_estate" class="box box_3 not_selected "><img src="pictures/public_housing.png"><hr>租住公屋</div><div id="flat_owner" class="box  box_3 not_selected"><img src="pictures/owner.png"><hr>業主</div>
      </div>

      <hr>

      <div class="q4 single" data-result="q4_result">
        <p>Q4. 你有沒有子女？</p>
        <div id="young_children" class="box box_4 not_selected"><img src="pictures/baby_family.png"><hr>有年幼子女</div><div id="teenage_children" class="box box_4 not_selected"><img src="pictures/teenagers.png"><hr>有青少年子女</div><div id="considering_having_children" class="box box_4 not_selected"><img src="pictures/no_child_1.png"><hr>沒有，但可能打算生育</div><div id="no_children" class="box box_4 not_selected"><img src="pictures/no_child_2.png"><hr>沒有</div>
      </div>
      <hr>

      <div class="q5 multiple" data-result="q5_result">
        <p>Q5. 你還關心甚麼議題？（可選多於一項）</p>
            <div id="healthcare" class="box box_5 not_selected "><img src="pictures/health_care.png"><hr>醫療</div><div id="environment" class="box box_5 not_selected "><img src="pictures/environment.png"><hr>環境</div><div id="infrastructure" class="box box_5 not_selected">
            <img src="pictures/infraconstruction.png"><hr>基建工程</div><div id="art" class="box box_5 not_selected"><img src="pictures/culture.png"><hr>文化藝術</div>
            <div id="political_system" class="box box_5 not_selected "><img src="pictures/politics.png"><hr>政制</div>
            </tr>
            <tr>
              <td><div id="freedom_of_speech" class="box box_5 not_selected"><img src="pictures/amplifier.png"><hr>言論自由</div></td>
            </tr>
              <td><div id="sexual_minority" class="box box_5 not_selected"><img src="pictures/sexual_minority.png"><hr>性小眾</div></td>
            </tr>
              <td><div id="june_fourth" class="box box_5 not_selected"><img src="pictures/june_fourth.png"><hr>六四</div></td>
              <td><div id="vulnerable_group" class="box box_5 not_selected"><img src="pictures/vulnerable_group.png"><hr>弱勢社群</div></td>
              <td><div id="rule_of_law" class="box box_5 not_selected"><img src="pictures/rule_of_law.png"><hr>法治</div></td>
            </tr>

          </table>
    </div> <!-- question 5 -->
</div><!-- end of question_part -->
