<div id="result">
      <div class="testing"></div>
      <div class="A">
        <p>以下政策與你相關</p>
      </div>

      <div class="q1_result_box">
        第一條問題
        <div class="q1_result"></div>
      </div>

      <hr>

      <div class="q2_result_box">
      第二條問題
      <div class="q2_result"></div>
      </div>
      <hr>

      <div class="q3_result_box">
      第三條問題
      <div class="q3_result"></div>
      </div>

      <hr>

      <div class="q4_result_box">
      第四條問題
      <div class="q4_result"></div>
      </div>

      <hr>
      <!-- result part of question 5 -->
      <div class="q5_result_box">第五條問題
            <div class="q5_result one"></div>
            <div class="q5_result two"></div>
            <div class="q5_result three"></div>
            <div class="q5_result four"></div>
            <div class="q5_result five"></div>
            <div class="q5_result six"></div>
            <div class="q5_result seven"></div>
            <div class="q5_result eight"></div>
            <div class="q5_result nine"></div>
            <div class="q5_result ten"></div>
      </div>
      <hr>
      <div class="back_to_top"><button>回到最上</button></div>
</div>
<!-- 完結問題、result 部份 -->
