<div class="top_of_page">
    <div class="logo"> <a href="https://www.wknews.org"><img src="pictures/wklogo1.jpg"></a></div>
    <div class="heading"><div class="line1">甚麼人投了甚麼票</div><div class="line2">
    立法會互動資料庫</div></div>

    <div class="intro">看政黨投票？膚淺。看候選人樣貌投票？庸俗。看政綱投票好了吧？但我們無法肯定他們當選後會否落實政綱。歷史不會說謊，惟工新聞整理過往議員在各種議題上的投票決定，製作互動資料庫，讓讀者觀察他們的實績（或沒有實績），在立法會選舉裡作出更明智的決定。無論你是新紮打工仔抑或中產管理層，是青春學生抑或家庭主婦，是藍領地盤佬抑或文藝青年，一樣可以在互動資料庫找到度身訂造的投票參考。
<p>
還嫌不夠？想尋根究柢的朋友更可點擊「議員」頁，直接追蹤每個政黨每個議員在各項議題上的投票紀錄，貼身監察。</div>

</div><!-- end of top of page -->
